* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, textarea{
    font-family: 'Quicksand', sans-serif;
}

header h1,
section h2,
section h3,
form button{
/* font-family: 'DynaPuff', cursive;*/
    font-family: 'Silkscreen', cursive;
    font-size: 36px;   
    font-weight: normal;
}

header {
    padding: 16px;
    background-color: navy;
    color: #fff;
}

header nav li { 
    display: inline;
    margin-left: 16px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header li a{
    color: #ecf0f1;
text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

section{
    padding: 24px 0;
    color: rgb(9, 26, 114);
}

section h2 {
    margin-bottom: 16px;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;   
}

section p {
    margin-bottom: 8px;
    margin-right: 48px;
    display: inline-block;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img{ 
    height: 36px;
    margin-right: 8px;
}

.brands-list li{
    display: inline;
}

section .container{
    align-items: flex-start;
}


.store-fronts {
    max-height: 250px;
    margin-right: 48px;
}

.circle-image {
    display:inline-block;

    vertical-align:top;

    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    max-height: 400px;
    margin-right: 32px;
}

.circle-image img {
    width: 100%;
    height: 100%;
    object-fit:cover;  
}

.brands-list img{ 
    height: 36px;
    margin-right: 8px;
}

.brands-list li{
    display: inline;
    
}

section{
    padding: 24px 0;
}


section {
    color: rgb(9, 26, 114);
}

.store-front {
    max-height: 400px;
    margin-right: 32px;
}

.social-links img {
    height: 24px;
}

.social-links li{
    display: inline;
    /*margin-right: 8px;*/
}

.social-links li a{
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
    margin-right: 8px;
}

form input,
form textarea, 
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

section h3{
    margin-bottom: 8px;
    font-size: 20px;
}

form button{
    background-color:rgb(9, 26, 114) ;
    color:#fff;
    font-size: 14px;
    border: none;
    cursor:pointer;
}
form button:hover{
    background-color:rgb(46, 66, 167) ;

}

input:focus, textarea:focus{
    outline-color:rgb(9, 26, 114) ;
}

footer {
    background-color:rgb(9, 26, 114) ;
    color: #ecf0f1;
    padding: 16px 0;
}